.panels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 11vh;
  }
  .panel1{
    height: 60vh;
    width: 33.3%;
    background-image:url('../../../assets/entrance.JPG');
    background-position: 30% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  }
  .panel2{
    height: 60vh;
    width: 33.3%;
    background-image:url('../../../assets/streetview.JPG'); 
    background-position: 30% 65%;
    background-size: cover;
    background-repeat: no-repeat;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  }
  .panel3{
    height: 60vh;
    width: 33.3%;
    background-image:url('../../../assets/sunset.JPG'); 
    background-position: 30% 68%;
    background-size: cover;
    background-repeat: no-repeat;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  }
  .panel4{
    height: 60vh;
    width: 33.3%;
    background-image:url('../../../assets/clubhouse.JPG'); 
    background-position: 30% 65%;
    background-size: cover;
    background-repeat: no-repeat;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  }
  .panel5{
    height: 60vh;
    width: 33.3%;
    background-image:url('../../../assets/streetsign.JPG'); 
    background-position: 30% 75%;
    background-size: cover;
    background-repeat: no-repeat; 
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  }
  .animated-1 {
    height: 73vh;
    width: 150%;
    background-image:url('../../../assets/entrance.JPG');
    background-position: 30% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    transition:transform 0.5s ease-out, 0.5s ease;
}
  .animated-2 {
    height: 73vh;
    width: 150%;
    background-image:url('../../../assets/streetview.JPG'); 
    background-position: 30% 65%;
    background-size: cover;
    background-repeat: no-repeat;
	  box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    transition:transform 0.5s ease-out, 0.5s ease;
}
  .animated-3 {
    height: 73vh;
    width: 150%;
    background-image:url('../../../assets/sunset.JPG');
    background-position: 30% 68%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    transition:transform 0.5s ease-out, 0.5s ease;
}
  .animated-4 {
    height: 73vh;
    width: 150%;
    background-image:url('../../../assets/clubhouse.JPG'); 
    background-position: 30% 65%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    transition:transform 0.5s ease-out, 0.5s ease;
}
  .animated-5 {
    height: 73vh;
    width: 150%;
    background-image:url('../../../assets/streetsign.JPG');
    background-position: 30% 75%;
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    transition:transform 0.5s ease-out, 0.5s ease;
}
@media (max-width: 700px){
  .panels{
    display: flex;
    flex-direction: column;
  }
  .panel1{
    height: 37vh;
    width: 100%;
  }  
  .panel2{
    height: 37vh;
    width: 100%;
  }  
  .panel3{
    height: 37vh;
    width: 100%;
  }  
  .panel4{
    height: 37vh;
    width: 100%;
  }  
  .panel5{
    height: 37vh;
    width: 100%;
  }
  .animated-1{
    height: 37vh;
    width: 100%;
  }  
  .animated-2{
    height: 37vh;
    width: 100%;
  }  
  .animated-3{
    height: 37vh;
    width: 100%;
  }  
  .animated-4{
    height: 37vh;
    width: 100%;
  }  
  .animated-5{
    height: 37vh;
    width: 100%;
  }  
}