a{
    text-decoration: none;
}
.header-wrapper{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    position: absolute;
    top: 0;
}
.title-container{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 3em;
    margin-bottom: 5px;
}
.link-wrapper {
    display: none;
    /* width: 33.3%; */
    justify-content: center;
}
.link-container {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    list-style-type: none;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: black;
    height: 5em;
    width: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
}
.link:hover{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #fcad26;
    width: 10em;
}
/* removed animation, used a transition instead to */
/* allow the animation a nice flow on hover and off hover. */
/* @keyframes navigation {
    0%{
        border: none;
        background-color: white;
        
    }
    100%{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #fcad26;
    width: 10em;
    }
} */
.enableLinks{
    display: flex;
    align-items: center;
}
.login-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15em;
    justify-content: space-around;
}
.btn {
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px #efa424;
  }
  .btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
  }
  .btn:active{
    box-shadow: none;
    top: 6px;
  }
  .label{
      display: flex;
      /* flex-direction: column; */
  }
.input{
    height: 2em;
    border: none;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin: 10px 0;
    padding: 20px;
    z-index: 10;
}
.input:focus{
    transform: translate3d(0, 90%, 0);
    transition: transform 0.5s ease-in-out;
}
.input-label-content{
    position: relative;
    right: 9em;
}
.input:focus ~ .input-label-content{
    position: relative;
    top: 10px;
    right: 205px;
    transition: all .5s ease-in-out;
}
.move-input-field{
    transform: translate3d(0, 90%, 0);
}
.move-placeholder{
    position: relative;
    top: 10px;
    right: 205px;
}
input[type='email'],
input[type='password'],
textarea {
  font-size: 16px;
}
form{
    text-align: center;
}
@media (max-width: 1050px) {
    .header-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: normal;
        margin-bottom: 20px;
    }
    .title-container{
        width: inherit;
    }
    .login-wrapper{
        width: 100%
    }
    .input-field{
        text-align: center;
        z-index: 10;
    }
    .label{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 6vh;
    }
    .link-container{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 2.5em;
    }
    .input-container{
        margin-bottom: 7vh;
    }
}
