.calender-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.event-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 500px;
    border: 1px solid black;
}
.event-list-container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.event-date{
    height: 100%;
    width: 12vw;
    background-color: #448aff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-location{
    margin-right: 50px;
}
.event-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .calender-wrapper{
        flex-direction: column;
    }
    .event-container{
        width: 325px;
    }
}