.directory-wrapper{
    width: 400px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    white-space: nowrap;
}
.directory-expand{
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
}
.form-container{
    margin: 0 0 10px 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 1000px) {
    .directory-expand{
        height: 400px;
        width: 375px;
        font-size: 1.8em;
    }
}